<p style="text-align: center;">アフィリエイトメンバー規約</p>
<div style="padding: 25px;">
    <div>第１条（総則）</div>
    <div>１．本規約は、Blockstake株式会社（以下「当社」といいます。）が提供するMoonstakeス</div>
    <div>テーキングプール・アフィリエイトサービスに参加するアフィリエイトメンバーが、本サー</div>
    <div>ビスの参加および利用に関して遵守すべき事項を定めるものです。</div>
    <br />

    <div>２．本サービスに関し本規約に規定のない事項については、Moonstake Singaporeが提供す</div>
    <div>る Moonstake ウォレットの規約（以下「ウォレット規約」といいます。）が適用されます。</div>
    <br />

    <div>第２条（定義）</div>
    <div>本規約において、以下の用語は以下に定める意味を有するものとします。</div>
    <div style="padding-left: 10px">
        <div>(1)「本サービス」とは、当社が提供するアフィリエイトサービスをいいます。</div>
        <div>(2)「サービス提供者」とは、本サービスを提供するBlockstake株式会社をいいます。</div>
        <div>(3)「ユーザー」とは、ウォレット規約に基づきMoonstakeウォレットにユーザー登録をした者をいいます。</div>
        <div>(4)「メンバー」とは、アフィリエイトメンバーとして本サービスに参加する者をいいます。</div>
        <div>(5)「本契約」とは、本規約に基づき生ずる当社とメンバーとの間の契約関係をいいます。</div>
        <div>(6)「アフィリエイトメディア」とは、メンバーが自ら運営管理するウェブサイト、電子メ<br />
            ールのメッセージ、アプリケーション、その他本サービスの対象となるものとして当<br />
            社が指定する媒体をいいます。
        </div>
        <div>(7)「リンク等」とは、メンバーの運営各種ページ等にリンクする専用バナー広告、専用<br />
            URL、アプリケーション、その他本サービスの対象となるものとして当社が指定する</br />
            ユーザーの誘導手段をいいます。
        </div>
        <div>(8)「リンク作成用コンテンツ」とは、当社またはサービス提供者が作成したバナー用の<br />
            HTMLコード、アプリケーション・プログラミング・インターフェイス等を通じて提<br />
            供される情報その他当社所定の専用コンテンツをいいます。
        </div>
    </div>
    <br />

    <div>第３条（メンバー登録）</div>
    <div>
        <div>1.本サービスの利用は、ユーザーのうち次項の登録を行った者に限るものとします。登録<br />
            料及びアフェリエイト報酬については別表に記載されます。
        </div>
        <div>2.ユーザーがメンバーとして本サービスに参加しようとする場合は、当社所定の登録フォ<br />
            ームに当社が定める登録情報を登録するものとします。なお、当社は、その裁量により<br />
            登録情報として登録すべき事項（以下「登録事項」といいます。）を変更することができ<br />
            るものとし、新たに登録事項が追加された場合、メンバーは当社が指定する期間内に当<br />
            社所定の方法によって登録情報の登録を行うものとします。
        </div>
        <div>3.前項の登録情報に変更があった場合は、メンバーは、速やかに変更登録を行わなければ<br />
            なりません。
        </div>
        <div>4.当社は、前2項により登録されたメンバーの情報およびメンバーによる本サービスの利<br />
            用に関して知り得たメンバーの情報を別途定める当社の「個人情報保護方針」に従い取<br />
            り扱うものとし、メンバーはこのことに同意するものとします。
        </div>
        <div>5.メンバーは、当社から登録情報の確認、証明のための資料の提出を求められた場合には<br />
            当社が指定する期間内にこれに応じるものとします。
        </div>
    </div>
    <br />

    <div>第４条（本サービスの内容）</div>
    <div>
        <div>1.本サービスは、メンバーの有する人的関係やアフィリエイトメディアを通じて、ユーザ<br />
            ーがメンバーの設置するリンク等から Moonstakeウォレットにアクセスし（以下こ<br />
            のようなアクセスを「経由アクセス」といいます。）、これによる結果として生じたステー<br />
            キング報酬、紹介報酬、その他当社が規定する成果（以下「付与対象成果」といいます。）<br />
            に応じて、当社がメンバーに対して報酬（以下「成果報酬」といいます。）を支払うことを内容と<br />
            します。
        </div>
        <div>2.前項の成果報酬は、当社所定の方法で支払われるものとします。なお、当社は、成果報<br>
            酬の支払い方法について、その裁量により変更することができるものとします。
        </div>
    </div>
    <br />

    <div>第５条（リンク等の掲示）</div>
    <div>
        <div>1.メンバーは、当社所定の方法により、リンク等を設置するアフィリエイトメディアの登<br />
            録を行うものとします。また、メンバーはアフィリエイトメディアに追加または変更が<br />
            あった場合は、直ちに追加・変更登録を行うものとします。
        </div>
        <div>2.メンバーは、前項により登録したアフィリエイトメディアに、当社所定の方法により、<br />
            リンク等を設置することができます。ただし、当社またはリンク先となるサービス提供<br />
            者が、リンク等の設置について制限または条件を付しているときは、これに従うものと<br />
            します。
        </div>
        <div>3.メンバーは、リンク等を設置するにあたり、当社またはサービス提供者が作成したリン<br />
            ク作成用コンテンツを使用するものとします。
        </div>
        <div>4.メンバーは、リンク作成用コンテンツを、本規約に基づく本サービス利用のためのリン<br />
            ク等設置以外の目的に使用することはできません。
        </div>
        <div>5.当社は、リンク等が設置されたアフィリエイトメディアが、そのコンテンツ等からふさ<br />
            わしくないと判断した場合は、メンバーが運営するアフィリエイトメディアの全部また<br />
            は一部からのリンクを拒否できるものとします。また、当社またはサービス提供者より、<br />
            メンバーの設置したリンク等について削除または変更を希望する旨通知があったとき<br />
            は、メンバーは、ただちに当該リンク等を削除または変更しなければなりません。
        </div>
    </div>
    <br />

    <div>第６条（リンク等およびアフィリエイトメディアの表示）</div>
    <div>
        <div>1.メンバーが作成するリンク等およびアフィリエイトメディアは下記のいずれかの内容<br />
            を含んではなりません。
        </div>
        <div>(1)本規約（第 7 条の禁止事項を含む）、ウォレット規約その他の規約、ルール、ガイドラ<br />
            イン等（以下「本規約等」といいます。）に反するまたはそのおそれのある内容
        </div>
        <div>(2)犯罪行為にかかわる内容、差別的表現、その他公序良俗に反する表現・内容
        </div>
        <div>3)アダルトコンテンツ、不潔またはグロテスクなコンテンツ等の一般人が不快感を覚える<br />
            内容、その他青少年も含めた不特定多数のユーザーによる閲覧に適さない内容
        </div>
        <div>(4)日本通信販売協会（http://www.jadma.org/）が定める広告に関する自主基準に違反する<br />
            不当な表示
        </div>
        <div>(5)ユーザーに誤解を与えるおそれのある内容</div>
        <div>(6)「サイト運営のためにクリックして下さい」等、ユーザーに対しクリックを依頼または<br />
            嘆願する文言
        </div>
        <div>(7)当社がユーザーとメンバーとの取引を代理、媒介、あっせん、介入、保証等するかのよ<br />
            うな内容
        </div>
        <div>(8)別途当社が定める広告掲載基準に反する内容</div>
        <div>2.当社は、メンバーの作成したリンク等またはアフィリエイトメディアが前項に反すると<br />
            判断した場合には、その内容および表示を変更するよう求めることができ、メンバーは<br />
            これに従うものとします。</div>
    </div>
    <br />

    <div>第７条（禁止事項</div>
    <div>メンバーは、以下の行為を行ってはならないものとします。</div>
    <div>
        <div>(1)当社、サービス提供者、ユーザー、一般消費者その他の第三者の権利、利益、プライバ<br />
            シー、名誉等を損なう行為、その他の不利益を与える行為またはそのおそれのある行為
        </div>
        <div>(2)他人が管理運営するウェブサイト、メーリングリストまたはメールマガジン等にリンク<br />
            等の設置を依頼すること
        </div>
        <div>(3)メンバー本人がサービス提供者またはサービス提供者の関係者である場合に、関係サイ<br />
            ト内のウェブページにリンク等を設置すること
        </div>
        <div>(4)第5条第1項で登録されたアフィリエイトメディア以外にリンク等を設置すること</div>
        <div>(5)リンク作成用コンテンツのうち当社が編集を可能とした部分以外について改変（当社が<br />
            指定したリンク先以外へリンクさせることを含みます。）し、または第三者をして改変<br />
            させること
        </div>
        <div>(6)掲示板サイト、動画投稿サイト、Q&Aサイトへの書き込み・投稿、事前の承諾を得て<br />
            いない相手に対する広告メールの配信等、当社、サービス提供者または第三者が迷惑ま<br />
            たは不快感を覚える宣伝行為をすること
        </div>
        <div>(7)サービス提供者との間で、直接広告・宣伝を目的とする契約を締結すること</div>
        <div>(8)アフィリエイトメディアに適切に設置され、表示されたリンク等へのユーザー自身によ<br />
            るクリックによらずに経由アクセスを生じさせること
        </div>
        <div>(9)付与対象成果に寄与すると合理的に評価できない行為によって成果報酬を取得し、また<br />
            は取得しようとすること
        </div>
        <div>(10)本サービスを利用して当社または当社のグループ会社（以下「当グループ」といい<br />
            ます。）と競合しまたは競合する可能性のあるサービスを提供すること
        </div>
        <div>(11)本サービスその他の当社または当グループの業務の運営・維持を妨げる行為を行<br />
            うこと
        </div>
        <div>(12)登録事項に虚偽の内容を登録することまたは真正な情報に訂正、補正しないこと</div>
        <div>(13)その他当社が別途禁止行為として定める行為を行うこと</div>
        <div>(14)メンバーが作成するリンク等およびアフィリエイトメディアに犯罪行為にかかわ<br />
            る内容、差別的表現、その他公序良俗に反する表現・内容を含んでいること</div>
    </div>
    <br />

    <div>第８条（メンバーの義務等）</div>
    <div>
        <div>1.メンバーは、アフィリエイトメディアにおいて恣意的なリンク等のクリックが発生しな<br />
            いよう、監視の義務を負うものとします。
        </div>
        <div>2.メンバーは、リンク等が指定されたリンク先へ正しくリンクされているか否かを定期的<br />
            に確認し、リンク切れまたはリンク先の過誤を発見した場合は、直ちにリンク等の更新<br />
            あるいは削除を行わなければならないものとします。
        </div>
        <div>3.メンバーは、当社が所定のネットワーク巡回システム等を利用してアフィリエイトメデ<br />
            ィアによる不正行為等の監視を行うことにつき、異議なく承諾するものとします。
        </div>
    </div>
    <br />

    <div>第９条（成果報酬の支払）</div>
    <div>
        <div>1.ユーザーが経由アクセスを経て、ウォレット規約に従い、Moonstakeウォレットにおい<br />
            てステーキング等の提供サービスを利用した場合、当社は、メンバーに対し、当該利用<br />
            に応じて当社が定める料率を乗じた成果報酬を付与します。成果報酬およびその詳細は<br />
            マイページまたはその関連サイトで告知するものとします。
        </div>
        <div>2.第 1 項の成果報酬の対象となる Moonstake ウォレットの提供サービスは、本サービス<br />
            の対象として当社が指定したものとします。ただし、当社は、その判断により、対象と<br />
            なる取引を制限または追加することがあります。
        </div>
        <div>3.メンバーに付与される成果報酬は、当社が別途定める成果承認基準に従い、ユーザーに<br />
            よる成果発生行為の対象となる商品等に設定された料率に基づいて、計算されます。
        </div>
        <div>4.当社は、当社が別途定める算出方法に従いメンバーに付与する成果報酬を算出した上で、<br />
            別途定める期日に付与します。</div>
        <div>5.当社は、メンバーに対し、成果報酬の対象となった購入額、サービス提供者、適用料率<br />
            を開示しますが、それ以外の情報は開示しません。
        </div>
        <div>6.成果報酬については、当社所定の方法による本人確認手続が完了しているメンバーに支<br />
            払われるものとします。当社所定の期日までに本人確認手続が完了していないメンバー<br />
            の場合、当社は、メンバーが成果報酬を受領する権利を放棄したものとみなし、当該成<br />
            果報酬を支払わないものとします。
        </div>
        <div>7.メンバーが成果報酬の受取先として選択したウォレットのアドレスや銀行の銀行口座<br />
            が、メンバー本人のものと確認できない場合、ならびに本サービス、その他当社及びそ<br />
            の関連会社が提供するサービスに関連して、規約違反等を理由として、サービスの利用<br />
            制限もしくは利用停止またはID取り消し等の措置（メンバーの資格喪失または停止を<br />
            含むものとします）を受けた者と、関連性を有すると当社が判断した場合、当社は、当<br />
            該メンバーの口座登録を拒否するとともに、当該メンバーに対して当該成果報酬を支払<br />
            わないものとします。
        </div>
        <div>8.報酬の算定方法および取扱いに関しては、当社が定めるところに従うものとします。</div>
    </div>
    <br />

    <div>第１０条（権利の非許諾）</div>
    <div>
        <div>当社は、本規約で明文をもって許諾された以外の権利をメンバーに対し付与するものでは<br />
            ありません。メンバーは、当社の商号、商標、標章等の利用を許諾された等、本規約の明文<br />
            で許諾された以外の権利を付与されたものと、本契約を解釈してはなりません。
        </div>
    </div>
    <br />

    <div>第１１条（税金及び費用）</div>
    <div>
        <div>アフィリエイトメディアならびにリンク等の設置、運営および管理、あるいは成果報酬の支<br />
            払にともない税金や付帯費用が発生する場合には、メンバーがこれらを負担するものとし<br />
            ます。
        </div>
    </div>
    <br />

    <div>第１２条（秘密保持）</div>
    <div>
        <div>メンバーは、本契約期間中または契約終了後にかかわらず、本契約および本契約に関連して<br />
            知り得たユーザーのメールアドレスその他ユーザーの特定につながる情報、リンク等の設<br />
            置または成果報酬の支払のために当社より開示された情報、その他本サービスの利用に際<br />
            して知り得た本サービス、当社、サービス提供者または利用者に関する情報を、他に開示・<br />
            漏洩してはならないものとします。
        </div>
    </div>
    <br />

    <div>第１３条（通知等）</div>
    <div>
        <div>1.当社は、本サービスに関する連絡その他の通知を、原則として、メンバーが登録した電<br />
            子メールアドレス（以下「登録アドレス」といいます）宛に電子メールを送信する方法<br />
            または、当社が指定するウェブサイト（以下「マイアカウント」といいます）に掲示す<br />
            る方法で行うものとします。
        </div>
        <div>2.メンバーは、定期的に登録アドレス宛の電子メールおよび通知用サイトを確認し、その<br />
            内容を閲読するものとし、対応が必要とされる場合には直ちに当社の指示に従い適切な<br />
            措置（当社への返信が求められている場合には、直ちに返信を行うことを含みます）を<br />
            講じるものとします。なお、当社からメンバーに対して返信を行うことを求めたにもか<br />
            かわらず、当社が指定する期間内にメンバーから返信がない場合、当社は次条各項に定<br />
            める措置を講じることができるものとします。
        </div>
    </div>
    <br />

    <div>第１４条（本規約等の違反）</div>
    <div>
        <div>1.当社においてメンバーが本規約等に違反していると認めた場合は、当社は事前の通知・<br />
            催告を行うことなく、次の各号の措置をとることができ、メンバーはこれについて異議<br />
            を述べることはできません。
        </div>
        <div>(1)メンバーの設置したリンク等からのリンクの拒否</div>
        <div>(2)メンバーの資格喪失または停止</div>
        <div>(3)成果報酬の支払停止</div>
        <div>(4)前号の他、メンバーの保有する成果報酬の全部または一部の利用停止または失効</div>
        <div>(5)その他本サービスの全部または一部の提供の中止</div>
        <br />
        <div>2.当社は、本規約等に違反していると当社が認めるメンバーに対して、前項各号の措置と<br />
            あわせて、過去に取得した分を含め成果報酬の返金をもとめることができ、この場合メ<br />
            ンバーは、その全額について直ちに当社が指示する方法で支払うものとします。
        </div>
        <div>2.当社は、本規約等に違反していると当社が認めるメンバーに対して、前項各号の措置と<br />
            あわせて、過去に取得した分を含め成果報酬の返金をもとめることができ、この場合メ<br />
            ンバーは、その全額について直ちに当社が指示する方法で支払うものとします。
        </div>
        <br />
        <div>3.前２項の措置を講じたことにより、メンバーに損害または不利益が生じたとしても、当<br />
            社は一切責任を負わないものとします。
        </div>
    </div>
    <br />

    <div>第１５条（損害賠償等）</div>
    <div>
        <div>1.メンバーは、メンバーによる本サービスの利用に関しユーザー、サービス提供者その他<br />
            の第三者との間でクレーム、紛争等が生じた場合は、すべてメンバーの責任と負担にお<br />
            いて解決するものとします。
        </div>
        <div>2.メンバーの本サービスの利用が原因で当社に損害が生じたときは、メンバーは損害賠<br />
            償の義務を負うとともに、その解決のために要した弁護士費用その他一切の諸経費を<br />
            当社に支払うものとします。
        </div>
        <div>3.当社は、メンバーとユーザー、サービス提供者その他の第三者との間の紛争について、<br />
            メンバーの同意を得ることなく、当該ユーザー、サービス提供者または第三者に対し当<br />
            該紛争に関する情報提供その他の援助を行うことができるものとします。
        </div>
    </div>
    <br />

    <div>第１６条（プレスリリース）</div>
    <div>
        <div>メンバーは、当社の事前の書面による承諾がない限り、本サービスの利用により実現する機<br />
            能・サービス等についてプレスリリースを公表してはならないものとします。
        </div>
    </div>
    <br />

    <div>第１７条（仕様の変更）</div>
    <div>
        <div>当社は、本サービスの仕様の全部または一部をいつでも変更することができるものとしま<br />
            す。また、当社は、当該仕様変更に関連してメンバーに生じた損害につき一切責任を負わな<br />
            いものとします。
        </div>
    </div>
    <br />

    <div>第１８条（本契約の終了等）</div>
    <div>
        <div>1.メンバーが退会または Moonstake ウォレットの登録取消等により当該ウォレットのユ<br />
            ーザーでなくなったときは、本契約は登録の喪失時をもって終了するものとします。
        </div>
        <div>2.当社は、全てのメンバーまたは特定のメンバーについて、理由のいかんを問わず、いつ<br />
            でも本サービスの提供を中断または終了させることができるものとします。また、当社<br />
            は当該中断または終了に関してメンバーに生じた損害につき一切責任を負わないもの<br />
            とします。
        </div>
        <div>3.本契約が終了した場合は、メンバーはアフィリエイトメディアからリンク等を直ちに削<br />
            除するものとします。
        </div>
    </div>
    <br />

    <div>第１９条（契約の解除）</div>
    <div>
        <div>1. メンバーは、当社が別途定める手続きを行うことにより、本プログラムの利用を停止し、<br />
            本規約による契約を解約することができます。
        </div>
        <div>2. 当社は、メンバーに以下のいずれかの事由が発生した場合、何ら事前の予告および催告<br />
            なしにメンバーとの本規約にかかる契約を解約することができるものとします。
        </div>
        <div style="padding: 5px;">
            <div>（1) メンバーが法令に違反またはそのおそれがあると判明した場合</div>
            <div>（2) メンバーが本規約の一つにでも違反した場合およびがあった場合および反社会的勢力<br />
                との関係が明らかになった場合</div>
            <div>（3) メンバーについて、仮差押、差押もしくは競売の申請、または破産、民事再生もしく<br />
                は会社更生手続開始の申立があり、または清算手続きが開始された場合</div>
            <div>（4) メンバーが租税公課を滞納して、保全差押を受けた場合</div>
            <div>（5) メンバーについて手形交換所の取引停止処分があった場合</div>
        </div>
    </div>
    <br />

    <div>第２０条（免責）</div>
    <div>
        <div>通信回線やコンピュータなどの障害によるシステムの中断・遅滞・中止・データの消失、経<br />
            由アクセス識別に関する障害、データへの不正アクセスにより生じた損害、その他本サービ<br />
            スに関してウォレットユーザーに生じた損害について、当社は一切責任を負わないものと<br />
            します。
        </div>
    </div>
    <br />

    <div>第２１条（権利義務の譲渡等の禁止）</div>
    <div>
        <div>メンバーは、当社の書面による事前の承諾なしに、第三者に対し、本規約にかかる契約上の<br />
            地位、権利および義務について、これを譲渡し、継承させ、または担保に供してはならない<br />
            ものとします。
        </div>
    </div>
    <br />

    <div>第２２条（本規約の改定）</div>
    <div>
        <div>当社は、本規約を任意に改定できるものとします。本規約の改定があった場合は、当社所定<br />
            のサイトに掲示した時にその効力を生じるものとします。この場合、メンバーは、改定後の<br />
            規約に従うものといたします。
        </div>
    </div>
    <br />
</div>