<p>
    Greetings <b><%=fullname%></b>,
</p>
<p>
    We noticed you have accessed your account  <b><%=email%></b> on a new IP Address
</p>
<p>
    if you approve this action, please click this <b><%=link%></b> to authorize this device
</p>
<p>
    Note that you need to access this email with the same device that you are confirming
</p>
<p>
    Sincerely,
    <br />
    The <b>Listco</b> Team.
</p>