<p class="ql-align-center"><img src="https://static.moonstake.io/images/moonstake-logo.png"></p>
<p></p>
<p><strong>Hi! $_=firstName_$ $_=lastName_$</strong></p>
<p style="margin-bottom: 8px"> Sorry, your KYC has been insufficient for the following reason.</p>
<p>$_-note_$</p>
<p><br></p>
<p style="margin-bottom: 8px; margin-top: 25px">Moonstake</p>
